In [ ]:
import requests
import pandas as pd
from zipfile import ZipFile

# Download the Datasets

## FAO Data (Crop Yield, Fertilizer and Pesticide Use, and Temperature Change)

### Requests

In [ ]:
#URL of the data
fao_url = 'http://fenixservices.fao.org/faostat/static/bulkdownloads/datasets_E.json'

In [ ]:
#GET request and put the response in a variable
response = requests.get(fao_url)

#Variable to hold the json object returned from the request
data = response.json()

In [ ]:
for x in range(len(data['Datasets']['Dataset'])):
    print("{}. {}".format(x, data['Datasets']['Dataset'][x]['DatasetName']))

0. Discontinued archives and data series: ASTI-Expenditures
1. Discontinued archives and data series: ASTI-Researchers
2. Food Balance: Commodity Balances (non-food)
3. Investment: Country Investment Statistics Profile
4. Prices: Consumer Price Indices
5. Macro-Economic Indicators: Capital Stock
6. Investment: Development Flows to Agriculture
7. Land, Inputs and Sustainability: Fertilizers indicators
8. Climate Change: Emissions intensities
9. Land, Inputs and Sustainability: Livestock Patterns
10. Land, Inputs and Sustainability: Land use indicators
11. Climate Change: Emissions shares
12. Land, Inputs and Sustainability: Livestock Manure
13. Land, Inputs and Sustainability: Pesticides indicators
14. Land, Inputs and Sustainability: Soil nutrient budget
15. Climate Change: Temperature change
16. Discontinued archives and data series: Food Aid Shipments (WFP)
17. Food Balance: Food Balances (2014-)
18. Food Balance: Food Balances (-2013, old methodology and population)
19. Investment: Foreign Direct Investment (FDI)
20. Forestry: Forestry Production and Trade
21. Food Security and Nutrition: Suite of Food Security Indicators
22. Forestry: Forestry Trade Flows
23. Climate Change: Crop Residues
24. Climate Change: Burning - Crop Residues
25. Climate Change: Enteric Fermentation
26. Climate Change: Forests
27. Climate Change: Fires
28. Climate Change: Manure Management
29. Climate Change: Energy Use
30. Climate Change: Manure left on Pasture
31. Climate Change: Rice Cultivation
32. Climate Change: Emissions Totals
33. Climate Change: Manure applied to Soils
34. Climate Change: Drained organic soils
35. Climate Change: Synthetic Fertilizers
36. Discontinued archives and data series: Indicators from Household Surveys (gender, area, socioeconomics)
37. Investment: Credit to Agriculture
38. Investment: Government Expenditure
39. Land, Inputs and Sustainability: Land Cover
40. Macro-Economic Indicators: Macro Indicators
41. Population and Employment: Annual population
42. Population and Employment: Employment Indicators
43. Discontinued archives and data series: Producer Prices (old series)
44. Prices: Deflators
45. Prices: Exchange rates - Annual
46. Prices: Producer Prices
47. Production: Crops and livestock products
48. Production: Production Indices
49. Production: Value of Agricultural Production
50. Discontinued archives and data series: Fertilizers archive
51. Land, Inputs and Sustainability: Fertilizers by Product
52. Land, Inputs and Sustainability: Fertilizers by Nutrient
53. Land, Inputs and Sustainability: Land Use
54. Discontinued archives and data series: Machinery
55. Land, Inputs and Sustainability: Pesticides Use
56. Land, Inputs and Sustainability: Pesticides Trade
57. Discontinued archives and data series: Machinery Archive
58. Food Balance: Supply Utilization Accounts
59. Trade: Crops and livestock products
60. Trade: Trade Indices
61. Trade: Detailed trade matrix

### Crop Yield

In [ ]:
#obtain crop yield file location
crop_yield = data['Datasets']['Dataset'][47]['FileLocation']
crop_yield

'http://fenixservices.fao.org/faostat/static/bulkdownloads/Production_Crops_Livestock_E_All_Data_(Normalized).zip'

In [ ]:
#request the zip file
yield_response = requests.get(crop_yield, stream=True)

#obtain the filename from the URL
local_file_name = crop_yield.split("/")[-1]

#downloading the data to the local project folder
with open(local_file_name, 'wb') as fd:
    for chunk in yield_response.iter_content(chunk_size=128):
        fd.write(chunk)

#create a zipfile object from downloaded zip above and extract the contents to local project folder
with ZipFile(local_file_name, 'r') as zipObj:
    zipObj.printdir()
    zipObj.extractall()

#read the unzipped file into a dataframe
df_yield = pd.read_csv(local_file_name.split(".")[0] +".csv", encoding = 'latin1')
df_yield.head()

File Name                                             Modified             Size
Production_Crops_Livestock_E_All_Data_(Normalized).csv 2021-12-15 16:40:18    404974887
Production_Crops_Livestock_E_Flags.csv         2021-12-15 17:17:54          245
Production_Crops_Livestock_E_ItemCodes.csv     2021-12-15 17:19:24         8675

   Area Code         Area  Item Code  ... Unit   Value Flag
0          2  Afghanistan        221  ...   ha     0.0    F
1          2  Afghanistan        221  ...   ha  5900.0    F
2          2  Afghanistan        221  ...   ha  6000.0    F
3          2  Afghanistan        221  ...   ha  6000.0    F
4          2  Afghanistan        221  ...   ha  6000.0    F

[5 rows x 11 columns]

### Fertilizer and Pesticide Use

In [ ]:
#obtain pesticide/fertilizer data
pest = data['Datasets']['Dataset'][7]['FileLocation']
pest

'http://fenixservices.fao.org/faostat/static/bulkdownloads/Environment_Fertilizers_E_All_Data_(Normalized).zip'

In [ ]:
#request the zip file
pest_response = requests.get(pest, stream=True)

#obtain the filename from the URL
local_file_name = pest.split("/")[-1]

#downloading the data to the local project folder
with open(local_file_name, 'wb') as fd:
    for chunk in pest_response.iter_content(chunk_size=128):
        fd.write(chunk)

#create a zipfile object from downloaded zip above and extract the contents to local project folder
with ZipFile(local_file_name, 'r') as zipObj:
    zipObj.printdir()
    zipObj.extractall()

#read the unzipped file into a dataframe
df_pest = pd.read_csv(local_file_name.split(".")[0] +".csv" , encoding = 'latin1')
df_pest.head()

File Name                                             Modified             Size
Environment_Fertilizers_E_All_Data_(Normalized).csv 2021-06-07 11:27:28      4044654
Environment_Fertilizers_E_Flags.csv            2021-06-07 11:29:32           38

   Area Code         Area  Item Code  ...   Unit  Value Flag
0          2  Afghanistan       3102  ...  kg/ha   0.13   Fc
1          2  Afghanistan       3102  ...  kg/ha   0.13   Fc
2          2  Afghanistan       3102  ...  kg/ha   0.13   Fc
3          2  Afghanistan       3102  ...  kg/ha   0.13   Fc
4          2  Afghanistan       3102  ...  kg/ha   0.13   Fc

[5 rows x 11 columns]

### Temperature Change

In [ ]:
#obtain temperature change data
temp = data['Datasets']['Dataset'][15]['FileLocation']
temp

'http://fenixservices.fao.org/faostat/static/bulkdownloads/Environment_Temperature_change_E_All_Data_(Normalized).zip'

In [ ]:
#request the zip file
temp_response = requests.get(temp, stream=True)

#obtain the filename from the URL
local_file_name = temp.split("/")[-1]

#downloading the data to the local project folder
with open(local_file_name, 'wb') as fd:
    for chunk in temp_response.iter_content(chunk_size=128):
        fd.write(chunk)

#create a zipfile object from downloaded zip above and extract the contents to local project folder
with ZipFile(local_file_name, 'r') as zipObj:
    zipObj.printdir()
    zipObj.extractall()

#read the unzipped file into a dataframe
df_temp = pd.read_csv(local_file_name.split(".")[0] +".csv", encoding = 'latin1')
df_temp.head()

File Name                                             Modified             Size
Environment_Temperature_change_E_All_Data_(Normalized).csv 2021-02-09 17:09:22     54884327
Environment_Temperature_change_E_Flags.csv     2021-02-09 17:53:44           80

   Area Code         Area  Months Code   Months  ...  Year Unit  Value  Flag
0          2  Afghanistan         7001  January  ...  1961   °C  0.746    Fc
1          2  Afghanistan         7001  January  ...  1962   °C  0.009    Fc
2          2  Afghanistan         7001  January  ...  1963   °C  2.695    Fc
3          2  Afghanistan         7001  January  ...  1964   °C -5.277    Fc
4          2  Afghanistan         7001  January  ...  1965   °C  1.827    Fc

[5 rows x 11 columns]

## World Bank Data (Population, Rainfall, and Agriculture Land)

In [ ]:
import world_bank_data as wb

In [ ]:
#grab population data
population = wb.get_series('SP.POP.TOTL', id_or_value='id', simplify_index=True)

#turn series into dataframe that will be used to collect the rest of the world bank data
df_wb = population.to_frame()

#change column name
df_wb = df_wb.rename(columns={'SP.POP.TOTL':'population'})

df_wb.head()

               population
Country Year
AFE     1960  130836765.0
        1961  134159786.0
        1962  137614644.0
        1963  141202036.0
        1964  144920186.0

In [ ]:
#raindall data
perc = wb.get_series('AG.LND.PRCP.MM', id_or_value='id', simplify_index=True)

#add rainfall series data to the df_wb data frame under the name raindall(mm/year)
df_wb['rainfall(mm/year)'] = perc

In [ ]:
#agricultural land
agland = wb.get_series('AG.LND.AGRI.K2', id_or_value='id', simplify_index=True)

#add agland series data to the df_wb data frame under the name agland(sq/km)
df_wb['agland(sq/km)'] = agland

# Transform and combine the datasets

## FAO Data (Crop Yield, Fertilizer and Pesticide Use, and Temperature Change)

### Crop Yield

In [ ]:
#reduce the crop yield dataframe to only include certain crops
df_yield = df_yield.loc[df_yield["Item"].isin(['Rice, paddy', 'Potatoes', 'Yams', 'Soybeans',
                                               'Wheat', 'Maize', 'Sorghum', 'Cassava'])]

#remove unnecessary columns
df_yield = df_yield.drop(['Area Code', 'Item Code', 'Element Code', 'Year Code', 'Flag', 'Element', 'Unit'], axis=1)

#rename the column holding the yield values
df_yield.rename(columns={'Value':'yield(tonnes)'}, inplace=True)

### Fertilizer and Pesticide Use

In [ ]:
#remove unnecessary columns
df_pest = df_pest.drop(['Area Code', 'Item Code', 'Element Code', 'Year Code', 'Flag', 'Element', 'Unit'], axis=1)

#find the total amount of pesticides and fertilizers used each year
df_pest = df_pest.groupby(['Area', 'Year']).agg({'Value':'sum'})

#reset the index after summation above
df_pest.reset_index(inplace=True)

#rename the column holding the total amount used each year
df_pest.rename(columns={'Value':'pestUse(kg/ha)'}, inplace=True)

### Temperature Change

In [ ]:
#remove unnecessary columns
df_temp = df_temp.drop(['Area Code', 'Element Code', 'Year Code', 'Flag', 'Element', 'Unit'], axis=1)

#find the total temperature change by year and then average that number
df_temp = df_temp.groupby(['Area', 'Year']).agg({'Value':'sum'})
df_temp['Value'] = df_temp['Value']/12

#reset the index after averaging above
df_temp.reset_index(inplace=True)

#rename the column holding the average amount changed each year
df_temp.rename(columns={'Value':'tempChange(C)'}, inplace=True)

### Combine the FAO Data

In [ ]:
#merge temperature change and pesticide/fertilizer use
df_fao = pd.merge(df_temp, df_pest, left_on=['Area', 'Year'], right_on=['Area', 'Year'], how='outer')

#merge the crop yield data to the newly merged data fram above
df_fao = pd.merge(df_fao, df_yield, how='right', on=['Area', 'Year'])

df_fao.head()

          Area  Year  tempChange(C)  pestUse(kg/ha)   Item  yield(tonnes)
0  Afghanistan  1961       1.659750            0.14  Maize       500000.0
1  Afghanistan  1962       1.332000            0.14  Maize       500000.0
2  Afghanistan  1963       2.886083            0.14  Maize       500000.0
3  Afghanistan  1964       0.326083            0.14  Maize       505000.0
4  Afghanistan  1965       1.539583            0.14  Maize       500000.0

## World Bank Data (Population, Rainfall, and Agriculture Land)

In [ ]:
#receive a dataframe with all the countries names and the ids
countries = wb.get_countries()

#only show countries not regions
df_key = countries.loc[countries.region != 'Aggregates']

#reset the index
df_key.reset_index(inplace=True)

#only keep two columns
df_key = df_key.loc[:,['id', 'name']]

df_key.head()

    id         name
0  ABW        Aruba
1  AFG  Afghanistan
2  AGO       Angola
3  ALB      Albania
4  AND      Andorra

In [ ]:
#add in the country name along with the id
df_wb.reset_index(inplace=True)
df_wb = pd.merge(df_wb, df_key, left_on='Country', right_on='id')

#remove unnecessary columns
df_wb = df_wb.drop(['Country', 'id'], axis=1)

## Combine FAO and World Bank

In [ ]:
#make sure the columns that will be merged upon are the same data type
df_wb['name'] = df_wb['name'].astype(str)
df_wb['Year'] = df_wb['Year'].astype(str)
df_fao['Area'] = df_fao['Area'].astype(str)
df_fao['Year'] = df_fao['Year'].astype(str)

In [ ]:
# lets see if there are any differences between country names before merging
fao_list = df_fao['Area'].unique()
wb_list = df_wb['name'].unique()
both_list = [x for x in fao_list if x in wb_list]

In [ ]:
#only allow countries in the list above to be merged
df_wb = df_wb.loc[df_wb['name'].isin(both_list)]
df_fao = df_fao.loc[df_fao['Area'].isin(both_list)]

In [ ]:
#final merge
df_master = pd.merge(df_wb, df_fao, left_on=['name', 'Year'], right_on=['Area', 'Year'], how='outer')

#remove any rows that have no yield, this is important for the machine learning model
df_master = df_master.loc[df_master['yield(tonnes)'].notna()]

In [ ]:
df_master

        Year  population  ...      Item  yield(tonnes)
1       1961   9169406.0  ...     Maize       500000.0
2       1961   9169406.0  ...     Maize        14000.0
3       1961   9169406.0  ...     Maize       700000.0
4       1961   9169406.0  ...  Potatoes        15000.0
5       1961   9169406.0  ...  Potatoes        86667.0
...      ...         ...  ...       ...            ...
128112  2020  14862927.0  ...  Soybeans        18147.0
128113  2020  14862927.0  ...  Soybeans        59656.0
128114  2020  14862927.0  ...     Wheat        82068.0
128115  2020  14862927.0  ...     Wheat        18278.0
128116  2020  14862927.0  ...     Wheat       150000.0

[123687 rows x 10 columns]

# Search download, combine, test, and load into ArcGIS Online

## ArcGIS Online download, combine, and upload

In [ ]:
from arcgis.gis import GIS
from arcgis.features import GeoAccessor

PROJ: proj_create_from_database: Cannot find proj.db

In [ ]:
#anonymous login to ArcGIS Online for a wide reaching search
gis_search = GIS()

#uses your ArcGIS Pro login information to connect to ArcGIS Online for download purposes
gis = GIS('pro')

In [ ]:
#search gis
items = gis_search.content.search(query='title:World Countries(Generalized)', item_type='Feature Layer')

#return the first result
items[0]

In [ ]:
#access this item via the id
world_get = gis.content.get(items[0].id)

#export the item with the name world as a shapfile
world_export = world_get.export(title='world', export_format='Shapefile')

#downloads the shapefile to a folder called world in project folder
world_path = world_export.download('world')

#create a zipfile object from downloaded zip above and extract the contents to local project folder
with ZipFile(world_path, 'r') as zipObj:
    zipObj.extractall()

In [ ]:
#lets take a look
sdf = pd.DataFrame.spatial.from_featureclass('World_Countries_(Generalized).shp')
m = sdf.spatial.plot()
m

MapView(layout=Layout(height='400px', width='100%'))

In [ ]:
import geopandas as gpd

In [ ]:
#change the name of the column that the sdf and the df_master will be merged on
df_master.rename(columns={'name':'COUNTRY'}, inplace=True)

#merge the sdf and the df_master and place into a geodata frame
sgdf = gpd.read_file('World_Countries_(Gneralized).shp')
gdf = gpd.GeoDataFrame(sgdf.merge(df_master, on='COUNTRY'))

In [ ]:
gdf.to_file("AllData.shp")

__main__:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.

In [1]:
gis.content.add(item_properties={'title': 'CropYields','type':'Shapefile', 'tags':['Food', 'Agriculture']},
                data="AllData.shp")

## Random Forest Tests

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

In [ ]:
df_ml = df_master.drop(['Area', 'COUNTRY'], axis=1)

In [ ]:
#encode categorical variables
df_ml = pd.get_dummies(df_ml, columns=['Item'], prefix = ['Item'])

#remove all null values
df_ml = df_ml.dropna()

In [ ]:
#split the dataframe into two sections: the results and the indicators
col_ind = list(df_ml.columns)
col_ind.remove('yield(tonnes)')
X = df_ml[col_ind]
y = df_ml['yield(tonnes)']

In [ ]:
#split the data into testing and training data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

#run the model
rf = RandomForestRegressor(n_estimators=200, random_state=42, n_jobs=-1, verbose=1)

In [ ]:
#fit the model based on training data
rf.fit(X_train, y_train)

In [ ]:
#actually predict outputs using the training data
y_pred = rf.predict(X_train)

In [ ]:
#return r^2 score
r2_score(y_pred=y_pred,y_true=y_train)

In [ ]:
#obtain data for plot
plot_list = df_master.columns
features = X.columns
importances = rf.feature_importances_

In [ ]:
#sort features by importance and only return top 15
feat_imp = pd.Series(importances, features).sort_values(ascending=False)
feat_imp[:14]